<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>ServletAnnotationFilter</filter-name>
		<filter-class>org.sweet.frameworks.system.filter.ServletAnnotationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ServletAnnotationFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.sweet.frameworks.system.listener.SystemConfigListener</listener-class>
	</listener>

</web-app>